@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nanum+Pen+Script&display=swap');

:root {
    --image-my-profile: url("https://avatars.githubusercontent.com/u/62008619?v=4");
    --image-nav-home: url("../assets/icons/home.svg");
    --image-nav-search: url("../assets/icons/search.svg");
    --image-nav-explore: url("../assets/icons/explorer.svg");
    --image-nav-reels: url("../assets/icons/reels.svg");
    --image-nav-message: url("../assets/icons/message.svg");
    --image-nav-notice: url("../assets/icons/notice.svg");
    --image-nav-make: url("../assets/icons/make-add.svg");
    --image-nav-burger: url("../assets/icons/burger.svg");
    --image-instagram-logo: url("../assets/instagram-logo.jpg");
    --image-instagram: url("../assets/instagram.svg");
    --image-header-arrow: url("../assets/icons/arrow-down.svg");

    --color-background: #ffffff;
    --color-border: #dbdbdb;
    --color-button-hover: #e8e8e8;
}

*, button, input, select, textarea, header, body, footer, main {
    font-family: 'Nanum Pen Script', 'Roboto', serif;
}