main {
    font-size: 2.4rem;
    margin-left:7.2rem;
    display: flex;
    justify-content: center;
}
/* main 하위의 요소에서 font-size 상속 */
main * {
    font-size: inherit;
}
.main-container {
    display: flex;
    flex-direction: row;
}
.main-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2.5rem;
}
main > section > header > .main-story {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 5rem;
}
.story-users {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
section > header > .main-story > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
section > article {
    margin-top: 3rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-text);
}
.story-user-profile {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem solid var(--color-border);
    box-shadow: 0 0 0 0.15rem white,
    0 0 0 0.25rem var(--color-border);
}
.story-user-profile::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--image-my-profile);
}
.main-view-container {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    min-width: 48rem;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
}
.main-view-container > article {
    max-width: 46rem;
}
.main-view-container > article > p{
    font-size: 2rem;
    margin: 0.5rem 0;
}
article > figure {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    margin-bottom: 1rem;
}
article > figure > figcaption {
    font-size: 2rem;
}
.post-user-profile {
    width: 3.2rem;
    height: 3.2rem;
    /*background-color: red;*/
    justify-content: center;
    align-items: center;
    margin: 0 0.8rem 0 0;
}
.post-user-profile::before {
    content: '';
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-image: var(--image-my-profile);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.post-image {
    width: 46rem;
    height: 46rem;
    object-fit: contain;
    background-color: var(--color-post-background);
}
.light-word {
    color: var(--color-text);
    cursor: pointer;
    /*font-weight: bold;*/
}
